<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= meta.desc %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="<%= meta.css %>assets/css/app-min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wdth,wght@75,400;75,500;75,600;75,700;85,400;85,500;85,600;85,700&family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= meta.css %>assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="<%= meta.css %>assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= meta.css %>assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="<%= meta.css %>assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="<%= meta.css %>assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <!--絶対パスで記述-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= meta.title %>" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="og:image" content="<%= meta.css %>assets/images/OGP.jpg">
    <!--twitter用-->
    <meta name="twitter:card" content="summary_large_image" /><!-- summary summary_large_image photo gallery appから選ぶ -->
    <!-- <meta name="twitter:site" content="" /> -->
    <meta name="twitter:title" content="<%= meta.title %>" />
    <meta name="twitter:url" content="https://twitter.com/HappyElementsRC" />
    <meta name="twitter:description" content="<%= meta.desc %>" />
    <meta name="twitter:image" content="<%= meta.css %>assets/images/OGP.jpg" />
    <!--絶対パスで記述-->
    <title>
      <%= meta.title %>
    </title>
  </head>

  <body class="js-load">
